@import "tailwindcss";

/* Kita kunci background jadi putih agar terlihat 'Fresh' dan bersih */
body {
  background: #ffffff;
  color: #171717; /* Warna teks abu gelap (bukan hitam pekat) agar elegan */
  font-family: Arial, Helvetica, sans-serif;
}